.App {
  text-align: center;
  font-family: monospace;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 100%;
}

.container .list {
  display: flex;
  margin: 20px auto;
}

.container .list .id {
  flex-basis: 10%;
}

.container .list .index {
  flex-basis: 5%;
}

.container .list .name {
  flex-basis: 50%;
  text-align: justify;
  margin: auto;
}

.container .list .symbol {
  flex-basis: 20%;
  text-align: justify;
}
